/*a  upload */

.a-upload {
	padding: 4px 10px;
	font-size: 14px;
	/*height: 20px;*/
	line-height: 20px;
	position: relative;
	cursor: pointer;
	color: #384148;
	background: #fafafa;
	border: 1px solid #fff;
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	*display: inline;
	*zoom: 1
}


/* a-upload */

.a-upload input {
	position: absolute;
	font-size: 14px;
	right: 0;
	top: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	cursor: pointer
}

.a-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}
